body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: #F5F5EF;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container {
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}

section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 100px auto;
}

#sobreMim .container {
  width: 90%;
}

.sobre-mim-container-img-contatos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sobre-mim-container-descricao {
  max-width: 600px;
  text-align: justify;
  margin-left: 10px;
}

h2{
  font-size: 48px;
  text-align: center;
}

.sobre-mim-img {
  height: 400px;
  width: 400px;
  background: url(./img/img-sobre-mim.jpeg) no-repeat center;
  border-radius: 20px;
  border: 1px solid #FFF;
}

h1 {
  font-size: 24px;
}

h2 {
  color: #16698f;
}

.nav-links-desktop {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links-desktop li {
  padding: 0 15px;
}

.nav-links-desktop a,
.nav-links-mobile a {
  color: #F5F5EF;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links-desktop a:hover {
  color: #084D6E; 
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
  width: 80%;
  list-style: none;
  padding: 0;
}

.nav-links-mobile li {
  border-bottom: 1px solid #787272;
  padding-bottom: 1.2rem;;
}

.menu-hamburger,
.fechar-menu {
  font-size: 24px;
  background: none;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: none;
}

.fechar-menu {
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  align-self: end;
}

.flex {
  display: flex;
}

@media (max-width: 948px) {
  #sobreMim .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  h2 {
    font-size: 32px;
  }

  .nav-links-desktop {
    display: none;
  }

  .menu-hamburger {
    display: block;
  }
}

.sobre-mim-img {
  height: 400px;
}

.sobre-mim-contatos {
  display: flex;
  align-items: center;
}

.sobre-mim-contatos img {
  height: 24px;
  width: 24px;
  border: 1px solid #FFF;
  border-radius: 40%;
}

.sobre-mim-download-cv {
  font-size: 14px;
  border: 1px solid #FFF;
  border-radius: 20px;
  padding: 4px 5px;
}

.sobre-mim-contatos li {
  display: inline;
  margin-right: 16px;
}

.sobre-mim-contatos a {
  text-decoration: none;
}
